body {
    background-color: #eff1ed;
    margin: 0%;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    width: 100%;
    background: hsla(67, 28%, 47%, 1);

    background: linear-gradient(270deg, hsla(67, 28%, 47%, 1) 0%, hsla(61, 27%, 64%, 1) 100%);
    
    background: -moz-linear-gradient(270deg, hsla(67, 28%, 47%, 1) 0%, hsla(61, 27%, 64%, 1) 100%);
    
    background: -webkit-linear-gradient(270deg, hsla(67, 28%, 47%, 1) 0%, hsla(61, 27%, 64%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#929A57", endColorstr="#BCBD8B", GradientType=1 );
    margin: 0%;
    padding: 3%;
}

nav {
    background-color: #717744;
    margin: 0%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav a {
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

a:hover {
    background-color: #575B35;
    transition: background-color 0.5s ease;
    border-radius: 10px;
}

section {
    border: solid 4px #575B35;
    margin: 2%;
    padding: 2%;
    border-radius: 8px;
    background-color: #dad7cd;
    display: flex;
    justify-content: space-between;
}

li {
    margin: 2%;
}

.fakeimg {
    background-color: #575B35;
    padding: 150px;
    margin-left: 20px;
}

.slideshow-container {
    position: relative;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

footer {
    margin-top: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #575B35;
    text-align: center;
    color: #dad7cd;
    width: 100%;
}