body {
    background-color: #eff1ed;
    margin: 0%;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    width: 100%;
    background-color: #bcbd8b;
    margin: 0%;
    padding: 3%;
}

nav {
    background-color: #717744;
    margin: 0%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav a {
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

a:hover {
    background-color: #575B35;
    transition: background-color 0.5s ease;
}

section {
    border: solid 4px #575B35;
    margin: 2%;
    padding: 2%;
    border-radius: 8px;
    background-color: #dad7cd;
    display: flex;
    justify-content: space-between;
}

li {
    margin: 2%;
}

.fakeimg {
    background-color: #575B35;
    padding: 50px;
}