body {
    background-color: #eff1ed;
    margin: 0%;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 20px;
}

h1 {
    text-align: center;
    width: 100%;
    background: hsla(61, 27%, 64%, 1);
    background: linear-gradient(90deg, hsla(61, 27%, 64%, 1) 0%, hsla(67, 22%, 47%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(61, 27%, 64%, 1) 0%, hsla(67, 22%, 47%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(61, 27%, 64%, 1) 0%, hsla(67, 22%, 47%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#BCBD8B", endColorstr="#8D935D", GradientType=1 );
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#BCBD8B", endColorstr="#6C7147", GradientType=1 );
    margin: 0%;
    padding: 3%;
    border-bottom: solid 6px #575B35;
    font-size: 40px;
}

h3 {
    font-size: x-large;
}

nav {
    background-color: #717744;
    margin: 0%;
    margin-right: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: larger;
    position: fixed;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
}

.nav-patterns-top {
    background-image: url('images/il_570xN.5076831108_nwhc.avif');
    background-repeat: repeat-y;
    height: 30%;
    border: solid 3px #575B35;
    margin: 6px;
    border-radius: 7px;
}

.nav-patterns-bottom {
    background-image: url('images/il_570xN.5076831108_nwhc.avif');
    background-repeat: repeat-y;
    height: 290%;
    border: solid 3px #575B35;
    margin: 6px;
    border-radius: 7px;
}

nav a {
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    text-align: center;
    margin: 10px;
}

.divider {
    border: solid #575B35 1px;
    margin-left: 8px;
    margin-right: 8px;
}

a:hover {
    background-color: #575B35;
    transition: background-color 0.5s ease;
    border-radius: 10px;
}

section {
    border: solid 4px #575B35;
    margin: 2%;
    padding: 2%;
    border-radius: 8px;
    background-color: #dad7cd;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    font-size: large;
    margin-left: 170px;
}

li {
    margin: 4%;
}

.slideshow-container {
    position: relative;
    border-radius: 10px;
    border: solid #575B35 4px;
    width: 80%;
    height: auto;
    max-width: 200px;
    max-height: 400px;
    min-width: 300px;
    margin: 3%;
    margin-left: auto;
    margin-right: auto;
}

.slideshow-container img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: block;
}

@media screen and (max-width: 1000px) {
    section {
        flex-direction: column;
        font-size: medium;
        justify-content: center;
    }

    nav a {
        font-size: medium;
    }

    footer, header {
        margin-left: 120px;
    }
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: #575B35;
}

footer {
    margin-top: 10%;
    position: fixed;
    bottom: 0;
    background-color: #575B35;
    text-align: center;
    color: #dad7cd;
    width: 100%;
}

.about {
    margin: 3%;
}

video {
    border: solid 4px #575B35;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio {
    flex-direction: column;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #252422;
        color: #dad7cd;
    }

    h1 {
        background: hsla(90, 19%, 31%, 1);
        background: linear-gradient(90deg, hsla(90, 19%, 31%, 1) 0%, hsla(90, 20%, 20%, 1) 100%);
        background: -moz-linear-gradient(90deg, hsla(90, 19%, 31%, 1) 0%, hsla(90, 20%, 20%, 1) 100%);
        background: -webkit-linear-gradient(90deg, hsla(90, 19%, 31%, 1) 0%, hsla(90, 20%, 20%, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#4E5D3F", endColorstr="#333D29", GradientType=1 );
    }

    nav, footer {
        background-color: #333d29;
    }

    nav a {
        color: #dad7cd;
    }

    .nav-patterns-bottom, .nav-patterns-top {
        background-image: url("images/auguste-dark-green-floral-wallpaper-nkqe-l.jpg");
        border-color: #465362;
    }

    .divider, h1, section, video, .slideshow-container {
        border-color: #465362;
    }

    section {
        background-color: #403d39;
    }
}